.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px 4px;
  grid-template-areas: "Name Name Name Name" "No Value Value Yes" "Ok Ok Cancel Cancel";
  
}
.grid-container > div {
  padding: 5px;
}

.Value { grid-area: Value; }

.No { grid-area: No; }

.Yes { grid-area: Yes; }

.Ok { grid-area: Ok; }

.Cancel { grid-area: Cancel; }

.Name { grid-area: Name; }

.KeyBoardButton {
  width: 100%;
  border: none;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.KeyBoardText {
  border: none;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.KeyBoardBlock {
  background: #AFCDE7;
  color: white;
  box-shadow: 5px 5px 15px 5px #000000;
}